flows.json
[
    {
        "id": "5d60c43b4b924270",
        "type": "tab",
        "label": "Home",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "46f45eec56bea94f",
        "type": "tab",
        "label": "Recording",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d5ec438b7021569d",
        "type": "tab",
        "label": "API",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "26ed8a12ce112e81",
        "type": "tab",
        "label": "Initialize",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3f1fe65c928d1b37",
        "type": "group",
        "z": "26ed8a12ce112e81",
        "name": "Dashboard cameras",
        "style": {
            "label": true
        },
        "nodes": [
            "cee7f705606ed449",
            "b72607fb480b715c",
            "b9838eeea99b35b3",
            "62acb83a893d38e4",
            "491261edf4153908",
            "29b2d943afaae901",
            "35b69cecb8ea35fe",
            "02755cfefa4232a9",
            "4617cacb43a7db1c",
            "32ce32d6ed6b7b62",
            "99bcc26f1ae73ec9",
            "362848deeb8c041e",
            "95561d2d20e130da",
            "c3a8eb0cdd03e8aa",
            "4bfd0faa5c697cf6",
            "2a5dbdc97a9681be",
            "20dcfbcf1d59a890",
            "929842cacfdd1236",
            "abd348d4a5b3dc2e",
            "f4bfa0e75dc06256",
            "ab3991961bd3c689",
            "f7f6f2b595a4941d",
            "ff9a15e6fd836f78",
            "20be60eebaf821f2"
        ],
        "x": 254,
        "y": 899
    },
    {
        "id": "f016075ba057df3b",
        "type": "group",
        "z": "26ed8a12ce112e81",
        "name": "Initialize cameras",
        "style": {
            "label": true
        },
        "nodes": [
            "036b4a5c7d7ad9b1",
            "c42f6dbfbe94d7ca",
            "48dbdd64e4622981",
            "07fe5cd686ac7ea1",
            "026703afda827fbc",
            "0433c4b6aac855b2",
            "70fdd482a971e7e0",
            "aac89c8a27b84eca",
            "bad27c6d0a0ef447",
            "391451537d1f279a",
            "5687cb0fd5c3bf18",
            "4e3d3173d076b5fb",
            "4591357985e45c29",
            "cd656acd3a5a5530",
            "30fefe770d302b6d"
        ],
        "x": 254,
        "y": 539
    },
    {
        "id": "4024b3d5b06eaa70",
        "type": "group",
        "z": "26ed8a12ce112e81",
        "name": "Recordin loggong",
        "style": {
            "label": true
        },
        "nodes": [
            "b3d0c92c292bb897",
            "d82c77bd7e6f636d",
            "1111bfab18741258",
            "b7afe69b4331fda0"
        ],
        "x": 254,
        "y": 79
    },
    {
        "id": "54ca9f41add64fe2",
        "type": "group",
        "z": "26ed8a12ce112e81",
        "name": "Influx Initialization ",
        "style": {
            "label": true
        },
        "nodes": [
            "1bdda2d779bd414b",
            "0223bcbde4ba566b",
            "3eb50965e15b84df",
            "bd39b74ddced4dad"
        ],
        "x": 254,
        "y": 259
    },
    {
        "id": "2950bfd809e8f76c",
        "type": "group",
        "z": "26ed8a12ce112e81",
        "name": "Add Camera",
        "style": {
            "label": true
        },
        "nodes": [
            "8d082fd7fcf66879",
            "0a0a562e6325b4f1",
            "6d7ea8bfb8a49488",
            "ef292a8d5fe196b4",
            "cc5aa5530525d32b",
            "b23cf982a5f1157b",
            "2f271b4f188d8575",
            "acbbd1fa53311e57",
            "5bae5cea507de3b8",
            "28d29ae124b03f61",
            "bfb26fb16387994f",
            "00dc9c9ec4b8afd2",
            "e60d9ed334ebadc0",
            "88a3c798a2fb8df9",
            "9f7963464dc9d4d3",
            "2d22233054ab139b",
            "7bb218b6d5535f2b",
            "1c00af47e14291e0",
            "ba2a0f14177b57b4",
            "ba79fb462cbfd9ef",
            "f8352062c98ae40c",
            "915365a5a7182a7c",
            "892fd8e277dee413",
            "fcbf19de33f1a9c1",
            "1489927555c565d0",
            "9c3cbb19dc54433a",
            "b12132b9eec68a83",
            "7c4c3ee7b47ce30e",
            "4166df8c0fb59d4e"
        ],
        "x": 254,
        "y": 1459
    },
    {
        "id": "960cb6dc51e99160",
        "type": "group",
        "z": "26ed8a12ce112e81",
        "name": "Export docker-compose",
        "style": {
            "label": true
        },
        "nodes": [
            "363186c651fd7562",
            "d72854b26c82f511",
            "f61d64384a2d9d5b",
            "8026e7e0bf67cd5d",
            "6555ea16c270dead",
            "21b9d4f2525b19a7",
            "8332450cf3330e20",
            "9c9b1a954e8fb836",
            "4771f38ee6e3fd53",
            "6caa872a021c4207",
            "a832b605b858e3f4"
        ],
        "x": 254,
        "y": 2059
    },
    {
        "id": "20dcfbcf1d59a890",
        "type": "junction",
        "z": "26ed8a12ce112e81",
        "g": "3f1fe65c928d1b37",
        "x": 1060,
        "y": 1300,
        "wires": [
            [
                "4034a60f2622a799"
            ]
        ]
    },
    {
        "id": "32ce32d6ed6b7b62",
        "type": "junction",
        "z": "26ed8a12ce112e81",
        "g": "3f1fe65c928d1b37",
        "x": 300,
        "y": 1060,
        "wires": [
            [
                "362848deeb8c041e",
                "abd348d4a5b3dc2e",
                "f7f6f2b595a4941d"
            ]
        ]
    },
    {
        "id": "97fd97198befb71e",
        "type": "mqtt-broker",
        "name": "Broker",
        "broker": "${MQTT_ADDRESS}",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "bdeb176601a03c87",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Recorder",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "78eb60079705b811",
        "type": "ui_group",
        "name": "Cameras",
        "tab": "0863caa7165c2548",
        "order": 1,
        "disp": true,
        "width": "13",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6542dda0146a98e2",
        "type": "ui_group",
        "name": "Camera",
        "tab": "0863caa7165c2548",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ca2547b7188cdec3",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "log",
        "name": "Log",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://influxdb:8086",
        "timeout": "",
        "rejectUnauthorized": true
    },
    {
        "id": "4d798c5620c1ed0c",
        "type": "ui_group",
        "name": "List",
        "tab": "a466b29d04f7bcf3",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0863caa7165c2548",
        "type": "ui_tab",
        "name": "Cameras",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a466b29d04f7bcf3",
        "type": "ui_tab",
        "name": "Recordings",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "651bcdc1f2d63e9b",
        "type": "minio-config",
        "name": "MinIO Instance",
        "host": "${MINIO_ADDRESS}",
        "port": "9000",
        "useSsl": false
    },
    {
        "id": "e56454e70d21f257",
        "type": "ui_link",
        "name": "Flows",
        "link": "/admin",
        "icon": "open_in_browser",
        "target": "newtab",
        "order": 4
    },
    {
        "id": "fafbed826f0a0088",
        "type": "ACS Server",
        "name": "ENV Settings",
        "address": "",
        "port": "55756"
    },
    {
        "id": "bb2b6741360f437e",
        "type": "ui_group",
        "name": "Add Camera",
        "tab": "0863caa7165c2548",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9838b1d896d4b770",
        "type": "Device Access",
        "name": "inject",
        "address": "",
        "protocol": "http"
    },
    {
        "id": "ab8f274ed48d4f4f",
        "type": "inject",
        "z": "5d60c43b4b924270",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 40,
        "wires": [
            [
                "a9e6c4af1793050a"
            ]
        ]
    },
    {
        "id": "a9e6c4af1793050a",
        "type": "ui_button",
        "z": "5d60c43b4b924270",
        "name": "",
        "group": "4d798c5620c1ed0c",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": true,
        "label": "Refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "556a1276562d2830"
            ]
        ]
    },
    {
        "id": "702caec86fb4ced8",
        "type": "ui_table",
        "z": "5d60c43b4b924270",
        "group": "4d798c5620c1ed0c",
        "name": "",
        "order": 2,
        "width": "12",
        "height": "12",
        "columns": [
            {
                "field": "time",
                "title": "Time",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "camera",
                "title": "Camera",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "tag",
                "title": "Tag",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "duration",
                "title": "Duration",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "link",
                "title": "Link",
                "width": "",
                "align": "left",
                "formatter": "html",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 470,
        "y": 220,
        "wires": []
    },
    {
        "id": "e96e584d3e4f70f0",
        "type": "function",
        "z": "5d60c43b4b924270",
        "name": "link",
        "func": "msg.payload.link = '<a href=\"' + msg.payload.src + '\" target=\"_blank\">MP4</a>';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 160,
        "wires": [
            [
                "c65f465c1666acef"
            ]
        ]
    },
    {
        "id": "762a5eeeb7322ef3",
        "type": "split",
        "z": "5d60c43b4b924270",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 470,
        "y": 100,
        "wires": [
            [
                "e96e584d3e4f70f0"
            ]
        ]
    },
    {
        "id": "a5d0b2e350f56128",
        "type": "join",
        "z": "5d60c43b4b924270",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 310,
        "y": 220,
        "wires": [
            [
                "702caec86fb4ced8",
                "7d1aafc981bec3bf"
            ]
        ]
    },
    {
        "id": "556a1276562d2830",
        "type": "link call",
        "z": "5d60c43b4b924270",
        "name": "Query",
        "links": [
            "02e23ece55e93ef0"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 310,
        "y": 100,
        "wires": [
            [
                "762a5eeeb7322ef3"
            ]
        ]
    },
    {
        "id": "c65f465c1666acef",
        "type": "moment",
        "z": "5d60c43b4b924270",
        "name": "",
        "topic": "",
        "input": "payload.start",
        "inputType": "msg",
        "inTz": "Europe/Stockholm",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "ddd MMM D HH:mm:ss",
        "locale": "en-US",
        "output": "payload.time",
        "outputType": "msg",
        "outTz": "Europe/Stockholm",
        "x": 500,
        "y": 160,
        "wires": [
            [
                "a5d0b2e350f56128"
            ]
        ]
    },
    {
        "id": "7d1aafc981bec3bf",
        "type": "debug",
        "z": "5d60c43b4b924270",
        "name": "debug 236",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 280,
        "wires": []
    },
    {
        "id": "bdfbd3f39decaffd",
        "type": "mqtt in",
        "z": "46f45eec56bea94f",
        "name": "",
        "topic": "recorder/+/event/recorder/chunk_properties",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "97fd97198befb71e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 140,
        "wires": [
            [
                "2da3070115864eae",
                "de99b8f3a2bc0606"
            ]
        ]
    },
    {
        "id": "cc927faaa7d0f889",
        "type": "function",
        "z": "46f45eec56bea94f",
        "name": "Insert",
        "func": "var camera = msg.payload;\n\nvar start = new Date(msg.chunk.start_time).getTime();\nvar end = new Date(msg.chunk.end_time).getTime();\nvar duration = (end - start) / 1000;\n\nmsg.payload = [\n    {\n        start: start,\n        end: end,\n        duration: duration,\n        file: msg.chunk.media_filename\n    } , {\n        name: camera.name,\n        serial: camera.serial,\n        tag: msg.chunk.recording_token,\n        bucket: msg.topic.split('/')[1]\n    }\n]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 280,
        "wires": [
            [
                "a6c4c430358a0b87",
                "c148c88589c16a12"
            ]
        ]
    },
    {
        "id": "a6c4c430358a0b87",
        "type": "influxdb out",
        "z": "46f45eec56bea94f",
        "influxdb": "ca2547b7188cdec3",
        "name": "",
        "measurement": "recordings",
        "precision": "ms",
        "retentionPolicy": "autogen",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 240,
        "y": 340,
        "wires": []
    },
    {
        "id": "70701e21348481c3",
        "type": "catch",
        "z": "46f45eec56bea94f",
        "name": "",
        "scope": null,
        "uncaught": true,
        "x": 240,
        "y": 40,
        "wires": [
            [
                "03d879e19a71cb73"
            ]
        ]
    },
    {
        "id": "03d879e19a71cb73",
        "type": "debug",
        "z": "46f45eec56bea94f",
        "name": "debug 198",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 40,
        "wires": []
    },
    {
        "id": "2da3070115864eae",
        "type": "change",
        "z": "46f45eec56bea94f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "chunk",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 200,
        "wires": [
            [
                "99156a785f474cdb"
            ]
        ]
    },
    {
        "id": "99156a785f474cdb",
        "type": "function",
        "z": "46f45eec56bea94f",
        "name": "Get Camera by FMR",
        "func": "var fmrID = msg.topic.split('/')[1];\n\nvar cameras = global.get(\"cameras\");\nmsg.payload = false;\nfor(var serial in cameras) {\n    if( cameras[serial].fmr === fmrID )\n        msg.payload = cameras[serial];\n}\n\nif( !msg.payload )\n    return;\n\nif( msg.payload.active === false)\n    return;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 200,
        "wires": [
            [
                "e45e7698f7f420d7",
                "cc927faaa7d0f889"
            ]
        ]
    },
    {
        "id": "0fcfaac592a2b22e",
        "type": "mqtt in",
        "z": "46f45eec56bea94f",
        "name": "",
        "topic": "recorder/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "97fd97198befb71e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 660,
        "y": 40,
        "wires": [
            [
                "0ec6b4ae5cc48b15"
            ]
        ]
    },
    {
        "id": "0ec6b4ae5cc48b15",
        "type": "debug",
        "z": "46f45eec56bea94f",
        "name": "debug 211",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 40,
        "wires": []
    },
    {
        "id": "e45e7698f7f420d7",
        "type": "debug",
        "z": "46f45eec56bea94f",
        "name": "debug 212",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 200,
        "wires": []
    },
    {
        "id": "bd7b77d527793c7d",
        "type": "function",
        "z": "46f45eec56bea94f",
        "name": "Query",
        "func": "\nif( msg.payload.hasOwnProperty(\"timestamp\") ) {\n    if( isNaN(msg.payload.timestamp))\n        msg.payload.timestamp = new Date(msg.payload.timestamp).getTime();\n    else    \n        msg.payload.timestamp = parseInt(msg.payload.timestamp);\n}\n\nif (msg.payload.hasOwnProperty(\"from\")) {\n    if (isNaN(msg.payload.from))\n        msg.payload.from = new Date(msg.payload.from).getTime();\n    else\n        msg.payload.from = parseInt(msg.payload.from);\n}\n\nif (msg.payload.hasOwnProperty(\"to\")) {\n    if (isNaN(msg.payload.to))\n        msg.payload.to = new Date(msg.payload.to).getTime();\n    else\n        msg.payload.to = parseInt(msg.payload.to);\n}\n\n\nmsg.request = msg.payload;\n\nmsg.query = 'SELECT * FROM recordings';\n\nvar where = \" WHERE\";\n\nif( msg.payload.hasOwnProperty(\"serial\") ) {\n    msg.query += ' WHERE \"serial\" =\\'' + msg.payload.serial + '\\'';\n    where = \" AND\";\n} \n\nif( msg.payload.hasOwnProperty(\"timestamp\") ) {\n    msg.query += where + ' \"start\" < ' + msg.request.timestamp;\n    where = \" AND\";\n    msg.query += where + ' \"end\" > ' + msg.request.timestamp;\n    return msg;    \n}\n\nif( msg.payload.hasOwnProperty(\"from\") ) {\n    msg.query += where + ' \"start\" >= ' + new Date(msg.payload.from).getTime();\n    where = \" AND\";\n}\n\nif (msg.payload.hasOwnProperty(\"to\")) {\n    msg.query += where + ' \"end\" < ' + new Date(msg.payload.to).getTime();\n    where = \" AND\";\n}\n\nif (msg.payload.hasOwnProperty(\"duration\")) {\n    msg.query += where + ' \"duration\" > ' + parseInt(msg.payload.duration);\n    where = \" AND\";\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 500,
        "wires": [
            [
                "7cb3729e4fc9e646",
                "25b8c22eabc3f039"
            ]
        ]
    },
    {
        "id": "7cb3729e4fc9e646",
        "type": "influxdb in",
        "z": "46f45eec56bea94f",
        "influxdb": "ca2547b7188cdec3",
        "name": "",
        "query": "",
        "rawOutput": false,
        "precision": "ms",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 360,
        "y": 560,
        "wires": [
            [
                "97f8317d48fe5065",
                "b5664f5d7b154fa4"
            ]
        ]
    },
    {
        "id": "473d274e784a453d",
        "type": "function",
        "z": "46f45eec56bea94f",
        "name": "Response",
        "func": "var recording = msg.payload[0];\n\nvar list = [];\nmsg.payload.forEach(function(item){\n    var offset = 0;\n    if( msg.request.hasOwnProperty(\"timestamp\") ) {\n        var offset = parseInt((parseInt(msg.request.timestamp) - item.start) / 1000) - 1;\n        if (offset < 0)\n            offset = 0;\n    }\n    var rec = {\n        camera: item.name,\n        start: item.start,\n        end: item.end,\n        duration: item.duration,\n        offset: offset,\n        tag: item.tag,\n        src: 'http://' + msg.address + '/mp4?bucket=' + item.bucket + '&file=' + item.file\n    }\n    list.push(rec);\n})\n\nmsg.payload = list;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 680,
        "wires": [
            [
                "535f425f080e8b33",
                "9c207febe065e4e9"
            ]
        ]
    },
    {
        "id": "97f8317d48fe5065",
        "type": "change",
        "z": "46f45eec56bea94f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "address",
                "pt": "msg",
                "to": "SERVER_ADDRESS",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 620,
        "wires": [
            [
                "473d274e784a453d",
                "1bfcb9b5f3c516b5"
            ]
        ]
    },
    {
        "id": "02e23ece55e93ef0",
        "type": "link in",
        "z": "46f45eec56bea94f",
        "name": "QUERY",
        "links": [],
        "x": 255,
        "y": 440,
        "wires": [
            [
                "bd7b77d527793c7d",
                "d1087c11c4da240d"
            ]
        ]
    },
    {
        "id": "535f425f080e8b33",
        "type": "link out",
        "z": "46f45eec56bea94f",
        "name": "link out 35",
        "mode": "return",
        "links": [],
        "x": 215,
        "y": 760,
        "wires": []
    },
    {
        "id": "4d4cce05318a9277",
        "type": "comment",
        "z": "46f45eec56bea94f",
        "name": "query",
        "info": "",
        "x": 190,
        "y": 440,
        "wires": []
    },
    {
        "id": "de99b8f3a2bc0606",
        "type": "debug",
        "z": "46f45eec56bea94f",
        "name": "debug 248",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 140,
        "wires": []
    },
    {
        "id": "c148c88589c16a12",
        "type": "debug",
        "z": "46f45eec56bea94f",
        "name": "debug 257",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload[0].start",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 280,
        "wires": []
    },
    {
        "id": "25b8c22eabc3f039",
        "type": "debug",
        "z": "46f45eec56bea94f",
        "name": "debug 260",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "query",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 500,
        "wires": []
    },
    {
        "id": "b5664f5d7b154fa4",
        "type": "debug",
        "z": "46f45eec56bea94f",
        "name": "debug 261",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 560,
        "wires": []
    },
    {
        "id": "1bfcb9b5f3c516b5",
        "type": "debug",
        "z": "46f45eec56bea94f",
        "name": "debug 262",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 620,
        "wires": []
    },
    {
        "id": "9c207febe065e4e9",
        "type": "debug",
        "z": "46f45eec56bea94f",
        "name": "debug 263",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 680,
        "wires": []
    },
    {
        "id": "d1087c11c4da240d",
        "type": "debug",
        "z": "46f45eec56bea94f",
        "name": "debug 264",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 440,
        "wires": []
    },
    {
        "id": "e63ebce023a2f994",
        "type": "debug",
        "z": "d5ec438b7021569d",
        "name": "debug 195",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 500,
        "wires": []
    },
    {
        "id": "a37acc5661b49d9d",
        "type": "http in",
        "z": "d5ec438b7021569d",
        "name": "",
        "url": "/mp4",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 540,
        "wires": [
            [
                "4df8abd39c90e046",
                "747d5c287feb5ecd"
            ]
        ]
    },
    {
        "id": "933d6e882724266a",
        "type": "http response",
        "z": "d5ec438b7021569d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1010,
        "y": 540,
        "wires": []
    },
    {
        "id": "4df8abd39c90e046",
        "type": "change",
        "z": "d5ec438b7021569d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "objectName",
                "pt": "msg",
                "to": "payload.file",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "bucketName",
                "pt": "msg",
                "to": "payload.bucket",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 540,
        "wires": [
            [
                "67e3602f4464f68f",
                "e63ebce023a2f994"
            ]
        ]
    },
    {
        "id": "2de8edc0f8e86efc",
        "type": "function",
        "z": "d5ec438b7021569d",
        "name": "response",
        "func": "if(msg.payload.getObject === false ) {\n    msg.statusCode = 500,\n    msg.payload = \"No recording\"\n    return msg;\n}\n\nmsg.payload = msg.payload.objectData;\nmsg.headers = {};\nmsg.headers[\"Content-Type\"] = \"video/mp4\",\n//msg.headers['Content-Disposition'] = 'attachment; filename=recording.mp4';\nmsg.headers[\"Content-Length\"] = msg.payload.length;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 540,
        "wires": [
            [
                "933d6e882724266a",
                "6efbfbe3dd7c2bbd"
            ]
        ]
    },
    {
        "id": "67e3602f4464f68f",
        "type": "objects",
        "z": "d5ec438b7021569d",
        "objects_name": "",
        "host": "651bcdc1f2d63e9b",
        "objects_operation": "getObject",
        "objects_bucket": "",
        "objects_object": "",
        "objects_offset": "",
        "objects_length": "",
        "objects_stream": "",
        "objects_size": "",
        "objects_metadata": "",
        "objects_sourceobject": "",
        "objects_conditions": "",
        "objects_objectslist": [],
        "objects_prefix": "",
        "objects_etag": "",
        "objects_datetime": "",
        "x": 630,
        "y": 540,
        "wires": [
            [
                "2de8edc0f8e86efc"
            ],
            [
                "729855eb6c8a32da"
            ]
        ]
    },
    {
        "id": "729855eb6c8a32da",
        "type": "function",
        "z": "d5ec438b7021569d",
        "name": "Error",
        "func": "if(msg.payload === null)\n    return;\nmsg.statusCode = 500;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 580,
        "wires": [
            [
                "933d6e882724266a",
                "c33979695863a7ab"
            ]
        ]
    },
    {
        "id": "36e5b52ba492b73d",
        "type": "http in",
        "z": "d5ec438b7021569d",
        "name": "",
        "url": "/record",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "4a910be867d9f9c7",
                "60f8c698c6379abe"
            ]
        ],
        "info": "{\r\n    serial: \"1A2B3C4D5E6F\",\r\n    timestamp: EPOCH,\r\n    state: bool,\r\n    tag: \"Some string\"\r\n}"
    },
    {
        "id": "4a910be867d9f9c7",
        "type": "function",
        "z": "d5ec438b7021569d",
        "name": "Validate",
        "func": "/*\n{\n    serial: \"1A2B3C4D5E6F\",\n    timestamp: EPOCH,\n    state: bool,\n    tag: \"Some string\"\n}\n*/\nif( !msg.payload.hasOwnProperty(\"serial\") ) {\n    msg.payload = \"Provide serial\",\n    msg.statusCode = 400;\n    node.send([msg,null]);\n}\n\nif( !msg.payload.hasOwnProperty(\"serial\") ) {\n    msg.payload = \"Provide state\",\n    msg.statusCode = 400;\n    node.send([msg, null]);\n}\n\nnode.send([null,msg]);\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 140,
        "wires": [
            [
                "32b30c4443a0e117"
            ],
            [
                "b020a61e876ac02d",
                "f09a37cec6c5efa1"
            ]
        ]
    },
    {
        "id": "60f8c698c6379abe",
        "type": "debug",
        "z": "d5ec438b7021569d",
        "name": "debug 218",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 80,
        "wires": []
    },
    {
        "id": "32b30c4443a0e117",
        "type": "http response",
        "z": "d5ec438b7021569d",
        "name": "",
        "statusCode": "401",
        "headers": {},
        "x": 480,
        "y": 120,
        "wires": []
    },
    {
        "id": "b020a61e876ac02d",
        "type": "change",
        "z": "d5ec438b7021569d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "event",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 200,
        "wires": [
            [
                "51700243098a9df4",
                "54097cf3946a600d"
            ]
        ]
    },
    {
        "id": "f09a37cec6c5efa1",
        "type": "link out",
        "z": "d5ec438b7021569d",
        "name": "http",
        "mode": "link",
        "links": [
            "b25f97c74e3c895b"
        ],
        "x": 445,
        "y": 160,
        "wires": []
    },
    {
        "id": "f75318f68b2514f8",
        "type": "switch",
        "z": "d5ec438b7021569d",
        "name": "Not fount",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 560,
        "y": 260,
        "wires": [
            [
                "38a4d05e7e8d0124"
            ]
        ]
    },
    {
        "id": "19c3d3a1169f244a",
        "type": "switch",
        "z": "d5ec438b7021569d",
        "name": "Found",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 230,
        "y": 320,
        "wires": [
            [
                "fa959a367429bcda"
            ]
        ]
    },
    {
        "id": "38a4d05e7e8d0124",
        "type": "change",
        "z": "d5ec438b7021569d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Unable to record",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 260,
        "wires": [
            [
                "ae8e3c8d6390b91c"
            ]
        ]
    },
    {
        "id": "ae8e3c8d6390b91c",
        "type": "http response",
        "z": "d5ec438b7021569d",
        "name": "",
        "statusCode": "401",
        "headers": {},
        "x": 920,
        "y": 260,
        "wires": []
    },
    {
        "id": "5ad14fbbc5416977",
        "type": "mqtt out",
        "z": "d5ec438b7021569d",
        "name": "recorder/+/command/recorder/activate_rec",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "97fd97198befb71e",
        "x": 770,
        "y": 320,
        "wires": []
    },
    {
        "id": "047401b19efc440b",
        "type": "http response",
        "z": "d5ec438b7021569d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 150,
        "y": 380,
        "wires": []
    },
    {
        "id": "51700243098a9df4",
        "type": "debug",
        "z": "d5ec438b7021569d",
        "name": "debug 233",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 200,
        "wires": []
    },
    {
        "id": "6efbfbe3dd7c2bbd",
        "type": "debug",
        "z": "d5ec438b7021569d",
        "name": "debug 234",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 500,
        "wires": []
    },
    {
        "id": "54097cf3946a600d",
        "type": "function",
        "z": "d5ec438b7021569d",
        "name": "Get Camera By Serial",
        "func": "var cameras = global.get(\"cameras\");\nif(!cameras) {\n    node.warn(\"No cameras\");\n    msg.payload = null;\n    return msg;\n}\n\nif( !cameras.hasOwnProperty(msg.payload.serial) ) {\n    node.warn(\"Camera \" + msg.payload.serial + \" not found\");\n    msg.payload = null;\n    return msg;\n    return;\n}\n\nmsg.payload = cameras[msg.payload.serial];\n\nif( msg.payload.active === false ) {\n    node.warn(\"Camera \" + msg.payload.name + \" is not active\")\n    msg.payload = null;\n    return msg;\n}\n\nif (msg.payload.status !== \"ready\") {\n    node.warn(\"Camera \" + msg.payload.name + \" is not available\")\n    msg.payload = null;\n    return msg;\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 260,
        "wires": [
            [
                "f75318f68b2514f8",
                "19c3d3a1169f244a"
            ]
        ]
    },
    {
        "id": "747d5c287feb5ecd",
        "type": "debug",
        "z": "d5ec438b7021569d",
        "name": "debug 228",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 500,
        "wires": []
    },
    {
        "id": "98ccf247afcae3e9",
        "type": "http in",
        "z": "d5ec438b7021569d",
        "name": "",
        "url": "/list",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 660,
        "wires": [
            [
                "7349c44e8fa91f37"
            ]
        ]
    },
    {
        "id": "1a8c8d75904c43a2",
        "type": "http response",
        "z": "d5ec438b7021569d",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 530,
        "y": 660,
        "wires": []
    },
    {
        "id": "7349c44e8fa91f37",
        "type": "link call",
        "z": "d5ec438b7021569d",
        "name": "",
        "links": [
            "02e23ece55e93ef0"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 340,
        "y": 660,
        "wires": [
            [
                "1a8c8d75904c43a2"
            ]
        ]
    },
    {
        "id": "c33979695863a7ab",
        "type": "debug",
        "z": "d5ec438b7021569d",
        "name": "debug 237",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 600,
        "wires": []
    },
    {
        "id": "e6d57c9e17d6c800",
        "type": "catch",
        "z": "d5ec438b7021569d",
        "name": "",
        "scope": [
            "67e3602f4464f68f"
        ],
        "uncaught": false,
        "x": 410,
        "y": 580,
        "wires": [
            [
                "5bbab81fc5176d34"
            ]
        ]
    },
    {
        "id": "5bbab81fc5176d34",
        "type": "change",
        "z": "d5ec438b7021569d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "error.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 580,
        "wires": [
            [
                "729855eb6c8a32da"
            ]
        ]
    },
    {
        "id": "fa959a367429bcda",
        "type": "function",
        "z": "d5ec438b7021569d",
        "name": "Recording state",
        "func": "var camera = msg.payload;\nmsg.topic = \"recorder/\" + camera.fmr + \"/command/recorder/activate_rec\"\n\nmsg.payload = {\n    active: msg.event.state,\n    recording_token: msg.event.type || \"Recording\",\n}\n\nif( msg.payload.hasOwnProperty(\"timestamp\"))\n    msg.payload.trigger_time = new Date(msg.event.timestamp).toISOString()\n\nif (msg.event.state)\n    msg.payload.prebuffer = camera.buffer || camera.buffer || 5;\nelse\n    msg.payload.postbuffer = camera.bufferTime || camera.buffer || 5;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 320,
        "wires": [
            [
                "047401b19efc440b",
                "5ad14fbbc5416977"
            ]
        ]
    },
    {
        "id": "e01f291bdfad1e2d",
        "type": "influxdb in",
        "z": "d5ec438b7021569d",
        "influxdb": "ca2547b7188cdec3",
        "name": "",
        "query": "SELECT * FROM recordings WHERE time > now() - 5m",
        "rawOutput": false,
        "precision": "ms",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 440,
        "y": 800,
        "wires": [
            [
                "3c8afecc343ad768"
            ]
        ]
    },
    {
        "id": "7b01589290231b86",
        "type": "inject",
        "z": "d5ec438b7021569d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 800,
        "wires": [
            [
                "e01f291bdfad1e2d"
            ]
        ]
    },
    {
        "id": "3c8afecc343ad768",
        "type": "debug",
        "z": "d5ec438b7021569d",
        "name": "debug 259",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 800,
        "wires": []
    },
    {
        "id": "036b4a5c7d7ad9b1",
        "type": "Camera Station",
        "z": "26ed8a12ce112e81",
        "g": "f016075ba057df3b",
        "name": "",
        "server": "fafbed826f0a0088",
        "action": "Inventory",
        "x": 400,
        "y": 740,
        "wires": [
            [
                "c42f6dbfbe94d7ca"
            ]
        ]
    },
    {
        "id": "c42f6dbfbe94d7ca",
        "type": "split",
        "z": "26ed8a12ce112e81",
        "g": "f016075ba057df3b",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 590,
        "y": 740,
        "wires": [
            [
                "48dbdd64e4622981"
            ]
        ]
    },
    {
        "id": "48dbdd64e4622981",
        "type": "function",
        "z": "26ed8a12ce112e81",
        "g": "f016075ba057df3b",
        "name": "global.cameras",
        "func": "var cameras = global.get(\"cameras\") || {};\nvar camera = {};\nif( !cameras.hasOwnProperty(msg.payload.serial)) {\n    camera = {\n        name: msg.payload.name,\n        serial: msg.payload.serial,\n        address: msg.payload.address,\n        model: msg.payload.model,\n        buffer: 5,\n        acs: msg.payload.id,\n        fmr: null,\n        active: true\n    }\n} else {\n    camera = cameras[msg.payload.serial];\n    camera.address = msg.payload.address;\n    camera.acs = msg.payload.id;\n}\n\ncameras[camera.serial] = camera;\nglobal.set(\"cameras\",cameras);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 740,
        "wires": [
            [
                "026703afda827fbc"
            ]
        ]
    },
    {
        "id": "07fe5cd686ac7ea1",
        "type": "change",
        "z": "26ed8a12ce112e81",
        "g": "f016075ba057df3b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "address",
                "pt": "msg",
                "to": "10.13.8.120",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "user",
                "pt": "msg",
                "to": "ACS_USER",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "password",
                "pt": "msg",
                "to": "ACS_PASSWORD",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 680,
        "wires": [
            [
                "aac89c8a27b84eca"
            ]
        ]
    },
    {
        "id": "026703afda827fbc",
        "type": "join",
        "z": "26ed8a12ce112e81",
        "g": "f016075ba057df3b",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 950,
        "y": 740,
        "wires": [
            [
                "70fdd482a971e7e0"
            ]
        ]
    },
    {
        "id": "0433c4b6aac855b2",
        "type": "file",
        "z": "26ed8a12ce112e81",
        "g": "f016075ba057df3b",
        "name": "",
        "filename": "/data/cameras.json",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 990,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "70fdd482a971e7e0",
        "type": "change",
        "z": "26ed8a12ce112e81",
        "g": "f016075ba057df3b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "cameras",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 800,
        "wires": [
            [
                "bad27c6d0a0ef447"
            ]
        ]
    },
    {
        "id": "aac89c8a27b84eca",
        "type": "function",
        "z": "26ed8a12ce112e81",
        "g": "f016075ba057df3b",
        "name": "Environment varibles set?",
        "func": "if( !msg.address || msg.address.length < 5)\n    return;\nif (!msg.user || msg.user.length < 2)\n    return;\nif (!msg.password || msg.password.length < 2)\n    return;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 680,
        "wires": [
            [
                "036b4a5c7d7ad9b1"
            ]
        ]
    },
    {
        "id": "bad27c6d0a0ef447",
        "type": "function",
        "z": "26ed8a12ce112e81",
        "g": "f016075ba057df3b",
        "name": "Pretty",
        "func": "msg.payload = JSON.stringify(msg.payload,null,2);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 800,
        "wires": [
            [
                "0433c4b6aac855b2"
            ]
        ]
    },
    {
        "id": "391451537d1f279a",
        "type": "file in",
        "z": "26ed8a12ce112e81",
        "g": "f016075ba057df3b",
        "name": "",
        "filename": "/data/cameras.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 370,
        "y": 620,
        "wires": [
            [
                "5687cb0fd5c3bf18"
            ]
        ]
    },
    {
        "id": "5687cb0fd5c3bf18",
        "type": "json",
        "z": "26ed8a12ce112e81",
        "g": "f016075ba057df3b",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 610,
        "y": 620,
        "wires": [
            [
                "4e3d3173d076b5fb"
            ]
        ]
    },
    {
        "id": "4e3d3173d076b5fb",
        "type": "change",
        "z": "26ed8a12ce112e81",
        "g": "f016075ba057df3b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "cameras",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "4591357985e45c29",
        "type": "catch",
        "z": "26ed8a12ce112e81",
        "g": "f016075ba057df3b",
        "name": "",
        "scope": [
            "391451537d1f279a"
        ],
        "uncaught": false,
        "x": 330,
        "y": 580,
        "wires": [
            [
                "cd656acd3a5a5530"
            ]
        ]
    },
    {
        "id": "cd656acd3a5a5530",
        "type": "change",
        "z": "26ed8a12ce112e81",
        "g": "f016075ba057df3b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 580,
        "wires": [
            [
                "30fefe770d302b6d",
                "4e3d3173d076b5fb"
            ]
        ]
    },
    {
        "id": "30fefe770d302b6d",
        "type": "file",
        "z": "26ed8a12ce112e81",
        "g": "f016075ba057df3b",
        "name": "",
        "filename": "/data/cameras.json",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 790,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "31819d8665da212f",
        "type": "link in",
        "z": "26ed8a12ce112e81",
        "name": "Refresh",
        "links": [
            "4034a60f2622a799",
            "f899f7944ab5b501",
            "4acb91d85fb1469a"
        ],
        "x": 185,
        "y": 1020,
        "wires": [
            [
                "29b2d943afaae901"
            ]
        ]
    },
    {
        "id": "b5024faded6595be",
        "type": "inject",
        "z": "26ed8a12ce112e81",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 940,
        "wires": [
            [
                "cee7f705606ed449"
            ]
        ]
    },
    {
        "id": "b3d0c92c292bb897",
        "type": "mqtt in",
        "z": "26ed8a12ce112e81",
        "g": "4024b3d5b06eaa70",
        "name": "",
        "topic": "recorder/+/event/recorder/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "97fd97198befb71e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 410,
        "y": 120,
        "wires": [
            [
                "d82c77bd7e6f636d",
                "b7afe69b4331fda0"
            ]
        ]
    },
    {
        "id": "d82c77bd7e6f636d",
        "type": "function",
        "z": "26ed8a12ce112e81",
        "g": "4024b3d5b06eaa70",
        "name": "Insert",
        "func": "msg.payload.serial = msg.topic.split('/')[1];\n\nmsg.payload = [\n    {\n        status: msg.payload.status\n    },\n    {\n        fmrID: msg.topic.split('/')[1]\n    }\n]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 120,
        "wires": [
            [
                "1111bfab18741258",
                "0ba2669a3f524803"
            ]
        ]
    },
    {
        "id": "1111bfab18741258",
        "type": "influxdb out",
        "z": "26ed8a12ce112e81",
        "g": "4024b3d5b06eaa70",
        "influxdb": "ca2547b7188cdec3",
        "name": "",
        "measurement": "fmr_status",
        "precision": "ms",
        "retentionPolicy": "week",
        "database": "log",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 940,
        "y": 120,
        "wires": []
    },
    {
        "id": "0ba2669a3f524803",
        "type": "debug",
        "z": "26ed8a12ce112e81",
        "name": "debug 225",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 120,
        "wires": []
    },
    {
        "id": "4034a60f2622a799",
        "type": "link out",
        "z": "26ed8a12ce112e81",
        "name": "link out 34",
        "mode": "link",
        "links": [
            "31819d8665da212f"
        ],
        "x": 1235,
        "y": 1300,
        "wires": []
    },
    {
        "id": "cee7f705606ed449",
        "type": "ui_button",
        "z": "26ed8a12ce112e81",
        "g": "3f1fe65c928d1b37",
        "name": "",
        "group": "78eb60079705b811",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": true,
        "label": "refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 340,
        "y": 940,
        "wires": [
            [
                "29b2d943afaae901",
                "fff6949c6b0b0cf3"
            ]
        ]
    },
    {
        "id": "b72607fb480b715c",
        "type": "ui_table",
        "z": "26ed8a12ce112e81",
        "g": "3f1fe65c928d1b37",
        "group": "78eb60079705b811",
        "name": "",
        "order": 3,
        "width": "13",
        "height": "7",
        "columns": [
            {
                "field": "link",
                "title": "Name",
                "width": "",
                "align": "left",
                "formatter": "html",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "model",
                "title": "Model",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "resolution",
                "title": "Resolution",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "buffer",
                "title": "Buffer",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "active",
                "title": "Active",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "status",
                "title": "Status",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 850,
        "y": 1000,
        "wires": [
            [
                "b9838eeea99b35b3"
            ]
        ]
    },
    {
        "id": "b9838eeea99b35b3",
        "type": "change",
        "z": "26ed8a12ce112e81",
        "g": "3f1fe65c928d1b37",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "selected",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 1000,
        "wires": [
            [
                "32ce32d6ed6b7b62"
            ]
        ]
    },
    {
        "id": "62acb83a893d38e4",
        "type": "ui_button",
        "z": "26ed8a12ce112e81",
        "g": "3f1fe65c928d1b37",
        "name": "",
        "group": "6542dda0146a98e2",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Remove",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 340,
        "y": 1360,
        "wires": [
            [
                "491261edf4153908"
            ]
        ]
    },
    {
        "id": "491261edf4153908",
        "type": "function",
        "z": "26ed8a12ce112e81",
        "g": "3f1fe65c928d1b37",
        "name": "remove",
        "func": "var cameras = global.get(\"cameras\");\ndelete cameras[flow.get(\"selected\").serial];\nglobal.set(\"cameras\",cameras);\nmsg.payload = cameras;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 1360,
        "wires": [
            [
                "20dcfbcf1d59a890"
            ]
        ]
    },
    {
        "id": "29b2d943afaae901",
        "type": "function",
        "z": "26ed8a12ce112e81",
        "g": "3f1fe65c928d1b37",
        "name": "List",
        "func": "var cameras = global.get(\"cameras\") || {};\nvar list = [];\nfor( var serial in cameras) {\n    cameras[serial].link = '<a href=\"http://' + cameras[serial].address + '\" target=\"_blank\">' + cameras[serial].name + '</a>';\n    list.push(cameras[serial]);\n}\nmsg.payload = list;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1000,
        "wires": [
            [
                "35b69cecb8ea35fe"
            ]
        ]
    },
    {
        "id": "35b69cecb8ea35fe",
        "type": "sort",
        "z": "26ed8a12ce112e81",
        "g": "3f1fe65c928d1b37",
        "name": "",
        "order": "ascending",
        "as_num": false,
        "target": "payload",
        "targetType": "msg",
        "msgKey": "name",
        "msgKeyType": "jsonata",
        "seqKey": "payload",
        "seqKeyType": "msg",
        "x": 490,
        "y": 1000,
        "wires": [
            [
                "b72607fb480b715c"
            ]
        ]
    },
    {
        "id": "4060112023210736",
        "type": "inject",
        "z": "26ed8a12ce112e81",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 620,
        "wires": [
            [
                "391451537d1f279a"
            ]
        ]
    },
    {
        "id": "9058fef700aa1987",
        "type": "inject",
        "z": "26ed8a12ce112e81",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "1bdda2d779bd414b"
            ]
        ]
    },
    {
        "id": "1bdda2d779bd414b",
        "type": "influxdb in",
        "z": "26ed8a12ce112e81",
        "g": "54ca9f41add64fe2",
        "influxdb": "ca2547b7188cdec3",
        "name": "log",
        "query": "CREATE DATABASE log",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "",
        "x": 330,
        "y": 300,
        "wires": [
            [
                "82ab0ccc2403f7ca",
                "3eb50965e15b84df"
            ]
        ]
    },
    {
        "id": "82ab0ccc2403f7ca",
        "type": "debug",
        "z": "26ed8a12ce112e81",
        "name": "debug 235",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 300,
        "wires": []
    },
    {
        "id": "8d082fd7fcf66879",
        "type": "ui_form",
        "z": "26ed8a12ce112e81",
        "g": "2950bfd809e8f76c",
        "name": "",
        "label": "",
        "group": "bb2b6741360f437e",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Name",
                "value": "name",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Address",
                "value": "address",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "name": "",
            "address": ""
        },
        "payload": "",
        "submit": "Add",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 330,
        "y": 1500,
        "wires": [
            [
                "0a0a562e6325b4f1"
            ]
        ]
    },
    {
        "id": "0a0a562e6325b4f1",
        "type": "change",
        "z": "26ed8a12ce112e81",
        "g": "2950bfd809e8f76c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "name",
                "pt": "msg",
                "to": "payload.name",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "address",
                "pt": "msg",
                "to": "payload.address",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "user",
                "pt": "msg",
                "to": "root",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "password",
                "pt": "msg",
                "to": "AXIS_ROOT_PASSWORD",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1500,
        "wires": [
            [
                "ef292a8d5fe196b4",
                "915365a5a7182a7c"
            ]
        ]
    },
    {
        "id": "6d7ea8bfb8a49488",
        "type": "debug",
        "z": "26ed8a12ce112e81",
        "g": "2950bfd809e8f76c",
        "name": "debug 238",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 1560,
        "wires": []
    },
    {
        "id": "ef292a8d5fe196b4",
        "type": "Axis device",
        "z": "26ed8a12ce112e81",
        "g": "2950bfd809e8f76c",
        "name": "",
        "preset": "9838b1d896d4b770",
        "action": "Device Info",
        "cgi": "",
        "data": "",
        "options": "",
        "filename": "",
        "x": 510,
        "y": 1560,
        "wires": [
            [
                "6d7ea8bfb8a49488",
                "acbbd1fa53311e57"
            ]
        ]
    },
    {
        "id": "cc5aa5530525d32b",
        "type": "catch",
        "z": "26ed8a12ce112e81",
        "g": "2950bfd809e8f76c",
        "name": "",
        "scope": [
            "ef292a8d5fe196b4"
        ],
        "uncaught": false,
        "x": 850,
        "y": 1560,
        "wires": [
            [
                "b23cf982a5f1157b"
            ]
        ]
    },
    {
        "id": "b23cf982a5f1157b",
        "type": "change",
        "z": "26ed8a12ce112e81",
        "g": "2950bfd809e8f76c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Unable to connect to camera",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Error",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 1560,
        "wires": [
            [
                "28d29ae124b03f61"
            ]
        ]
    },
    {
        "id": "2f271b4f188d8575",
        "type": "ui_toast",
        "z": "26ed8a12ce112e81",
        "g": "2950bfd809e8f76c",
        "position": "top right",
        "displayTime": "4",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 540,
        "y": 1960,
        "wires": []
    },
    {
        "id": "acbbd1fa53311e57",
        "type": "switch",
        "z": "26ed8a12ce112e81",
        "g": "2950bfd809e8f76c",
        "name": "",
        "property": "payload.authenticated",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 490,
        "y": 1620,
        "wires": [
            [
                "5bae5cea507de3b8"
            ],
            [
                "9f7963464dc9d4d3"
            ]
        ]
    },
    {
        "id": "5bae5cea507de3b8",
        "type": "change",
        "z": "26ed8a12ce112e81",
        "g": "2950bfd809e8f76c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Cannot add camera.  Invalid credentials.",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Error",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 1620,
        "wires": [
            [
                "00dc9c9ec4b8afd2"
            ]
        ]
    },
    {
        "id": "28d29ae124b03f61",
        "type": "link out",
        "z": "26ed8a12ce112e81",
        "g": "2950bfd809e8f76c",
        "name": "link out 36",
        "mode": "link",
        "links": [
            "bfb26fb16387994f"
        ],
        "x": 1215,
        "y": 1560,
        "wires": []
    },
    {
        "id": "bfb26fb16387994f",
        "type": "link in",
        "z": "26ed8a12ce112e81",
        "g": "2950bfd809e8f76c",
        "name": "Error",
        "links": [
            "28d29ae124b03f61",
            "00dc9c9ec4b8afd2",
            "1c00af47e14291e0"
        ],
        "x": 425,
        "y": 1960,
        "wires": [
            [
                "2f271b4f188d8575"
            ]
        ]
    },
    {
        "id": "00dc9c9ec4b8afd2",
        "type": "link out",
        "z": "26ed8a12ce112e81",
        "g": "2950bfd809e8f76c",
        "name": "link out 37",
        "mode": "link",
        "links": [
            "bfb26fb16387994f"
        ],
        "x": 825,
        "y": 1620,
        "wires": []
    },
    {
        "id": "e60d9ed334ebadc0",
        "type": "comment",
        "z": "26ed8a12ce112e81",
        "g": "2950bfd809e8f76c",
        "name": "Error",
        "info": "",
        "x": 330,
        "y": 1960,
        "wires": []
    },
    {
        "id": "88a3c798a2fb8df9",
        "type": "Axis Security",
        "z": "26ed8a12ce112e81",
        "g": "2950bfd809e8f76c",
        "name": "",
        "preset": "9838b1d896d4b770",
        "address": "",
        "action": "Set account",
        "data": "",
        "options": "",
        "x": 710,
        "y": 1680,
        "wires": [
            [
                "892fd8e277dee413",
                "1489927555c565d0"
            ]
        ]
    },
    {
        "id": "9f7963464dc9d4d3",
        "type": "function",
        "z": "26ed8a12ce112e81",
        "g": "2950bfd809e8f76c",
        "name": "Set account",
        "func": "msg.camera = msg.payload;\nmsg.fmrPassword = \"fmr_\" + new Date().getTime().toString();\nmsg.payload = {\n    \"name\": \"fmr\",\n    \"password\": msg.fmrPassword,\n    \"privileges\": \"Viewer\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1680,
        "wires": [
            [
                "88a3c798a2fb8df9"
            ]
        ]
    },
    {
        "id": "2d22233054ab139b",
        "type": "catch",
        "z": "26ed8a12ce112e81",
        "g": "2950bfd809e8f76c",
        "name": "",
        "scope": [
            "88a3c798a2fb8df9"
        ],
        "uncaught": false,
        "x": 1070,
        "y": 1680,
        "wires": [
            [
                "7bb218b6d5535f2b"
            ]
        ]
    },
    {
        "id": "7bb218b6d5535f2b",
        "type": "change",
        "z": "26ed8a12ce112e81",
        "g": "2950bfd809e8f76c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Could not create account",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Error",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 1680,
        "wires": [
            [
                "1c00af47e14291e0"
            ]
        ]
    },
    {
        "id": "1c00af47e14291e0",
        "type": "link out",
        "z": "26ed8a12ce112e81",
        "g": "2950bfd809e8f76c",
        "name": "link out 38",
        "mode": "link",
        "links": [
            "bfb26fb16387994f"
        ],
        "x": 1385,
        "y": 1680,
        "wires": []
    },
    {
        "id": "ba2a0f14177b57b4",
        "type": "function",
        "z": "26ed8a12ce112e81",
        "g": "2950bfd809e8f76c",
        "name": "Add Camera",
        "func": "var cameras = global.get(\"cameras\") || {};\nvar camera = {\n    name: msg.name,\n    serial: msg.camera.serial,\n    address: msg.address,\n    model: msg.camera.model,\n    buffer: 5,\n    acs: null,\n    fmr: msg.name.toLowerCase().replace(/\\s/g, \"_\"),\n    password: msg.fmrPassword,\n    resolution: msg.medium,\n    active: true,\n    resolutions: msg.resolutions\n}\ncameras[camera.serial] = camera;\nflow.set(\"cameras\",cameras);\nmsg.payload = camera;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1800,
        "wires": [
            [
                "ba79fb462cbfd9ef",
                "fcbf19de33f1a9c1"
            ]
        ]
    },
    {
        "id": "ba79fb462cbfd9ef",
        "type": "function",
        "z": "26ed8a12ce112e81",
        "g": "2950bfd809e8f76c",
        "name": "global.cameras;",
        "func": "var cameras = global.get(\"cameras\") || {};\ncameras[msg.payload.serial] = msg.payload;\nglobal.set(\"cameras\",cameras);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 1860,
        "wires": [
            [
                "f8352062c98ae40c"
            ]
        ]
    },
    {
        "id": "f8352062c98ae40c",
        "type": "file",
        "z": "26ed8a12ce112e81",
        "g": "2950bfd809e8f76c",
        "name": "",
        "filename": "/data/cameras.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 750,
        "y": 1860,
        "wires": [
            [
                "7c4c3ee7b47ce30e",
                "4acb91d85fb1469a"
            ]
        ]
    },
    {
        "id": "915365a5a7182a7c",
        "type": "debug",
        "z": "26ed8a12ce112e81",
        "g": "2950bfd809e8f76c",
        "name": "debug 239",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 1500,
        "wires": []
    },
    {
        "id": "892fd8e277dee413",
        "type": "debug",
        "z": "26ed8a12ce112e81",
        "g": "2950bfd809e8f76c",
        "name": "debug 240",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 1680,
        "wires": []
    },
    {
        "id": "fcbf19de33f1a9c1",
        "type": "debug",
        "z": "26ed8a12ce112e81",
        "g": "2950bfd809e8f76c",
        "name": "debug 241",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 1800,
        "wires": []
    },
    {
        "id": "02755cfefa4232a9",
        "type": "ui_button",
        "z": "26ed8a12ce112e81",
        "g": "3f1fe65c928d1b37",
        "name": "",
        "group": "6542dda0146a98e2",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Update",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 340,
        "y": 1300,
        "wires": [
            [
                "4bfd0faa5c697cf6"
            ]
        ]
    },
    {
        "id": "4617cacb43a7db1c",
        "type": "ui_text",
        "z": "26ed8a12ce112e81",
        "g": "3f1fe65c928d1b37",
        "group": "6542dda0146a98e2",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Name",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 710,
        "y": 1060,
        "wires": []
    },
    {
        "id": "99bcc26f1ae73ec9",
        "type": "ui_dropdown",
        "z": "26ed8a12ce112e81",
        "g": "3f1fe65c928d1b37",
        "name": "",
        "label": "Resolution",
        "tooltip": "",
        "place": "Select option",
        "group": "6542dda0146a98e2",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 630,
        "y": 1160,
        "wires": [
            [
                "95561d2d20e130da"
            ]
        ]
    },
    {
        "id": "1489927555c565d0",
        "type": "Axis camera",
        "z": "26ed8a12ce112e81",
        "g": "2950bfd809e8f76c",
        "name": "",
        "preset": "9838b1d896d4b770",
        "action": "Camera Info",
        "resolution": "640x360",
        "output": "Base64",
        "filename": "",
        "options": "",
        "data": "",
        "x": 510,
        "y": 1740,
        "wires": [
            [
                "b12132b9eec68a83"
            ]
        ]
    },
    {
        "id": "9c3cbb19dc54433a",
        "type": "debug",
        "z": "26ed8a12ce112e81",
        "g": "2950bfd809e8f76c",
        "name": "debug 244",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 1740,
        "wires": []
    },
    {
        "id": "b12132b9eec68a83",
        "type": "change",
        "z": "26ed8a12ce112e81",
        "g": "2950bfd809e8f76c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "resolutions",
                "pt": "msg",
                "to": "payload.resolutions",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "medium",
                "pt": "msg",
                "to": "payload.medium",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 1740,
        "wires": [
            [
                "9c3cbb19dc54433a",
                "ba2a0f14177b57b4"
            ]
        ]
    },
    {
        "id": "362848deeb8c041e",
        "type": "change",
        "z": "26ed8a12ce112e81",
        "g": "3f1fe65c928d1b37",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "options",
                "pt": "msg",
                "to": "payload.resolutions",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.resolution",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 1160,
        "wires": [
            [
                "99bcc26f1ae73ec9"
            ]
        ]
    },
    {
        "id": "95561d2d20e130da",
        "type": "change",
        "z": "26ed8a12ce112e81",
        "g": "3f1fe65c928d1b37",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "selected.resolution",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "7c4c3ee7b47ce30e",
        "type": "change",
        "z": "26ed8a12ce112e81",
        "g": "2950bfd809e8f76c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Camera added",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Success",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 1900,
        "wires": [
            [
                "4166df8c0fb59d4e"
            ]
        ]
    },
    {
        "id": "4166df8c0fb59d4e",
        "type": "ui_toast",
        "z": "26ed8a12ce112e81",
        "g": "2950bfd809e8f76c",
        "position": "top right",
        "displayTime": "3",
        "highlight": "green",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1200,
        "y": 1900,
        "wires": []
    },
    {
        "id": "c3a8eb0cdd03e8aa",
        "type": "change",
        "z": "26ed8a12ce112e81",
        "g": "3f1fe65c928d1b37",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "cameras",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 1300,
        "wires": [
            [
                "2a5dbdc97a9681be"
            ]
        ]
    },
    {
        "id": "4bfd0faa5c697cf6",
        "type": "function",
        "z": "26ed8a12ce112e81",
        "g": "3f1fe65c928d1b37",
        "name": "Update",
        "func": "var cameras = global.get(\"cameras\") || {};\nvar camera = flow.get(\"selected\");\nif(!camera)\n    return;\n\ncameras[camera.serial] = camera;\nglobal.set(\"cameras\", cameras);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 1300,
        "wires": [
            [
                "c3a8eb0cdd03e8aa"
            ]
        ]
    },
    {
        "id": "2a5dbdc97a9681be",
        "type": "file",
        "z": "26ed8a12ce112e81",
        "g": "3f1fe65c928d1b37",
        "name": "",
        "filename": "/data/cameras.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 910,
        "y": 1300,
        "wires": [
            [
                "20dcfbcf1d59a890"
            ]
        ]
    },
    {
        "id": "929842cacfdd1236",
        "type": "ui_numeric",
        "z": "26ed8a12ce112e81",
        "g": "3f1fe65c928d1b37",
        "name": "",
        "label": "Buffer",
        "tooltip": "",
        "group": "6542dda0146a98e2",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": true,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "1",
        "max": "20",
        "step": "2",
        "className": "",
        "x": 610,
        "y": 1200,
        "wires": [
            [
                "f4bfa0e75dc06256"
            ]
        ]
    },
    {
        "id": "abd348d4a5b3dc2e",
        "type": "change",
        "z": "26ed8a12ce112e81",
        "g": "3f1fe65c928d1b37",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.buffer",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 1200,
        "wires": [
            [
                "929842cacfdd1236"
            ]
        ]
    },
    {
        "id": "f4bfa0e75dc06256",
        "type": "change",
        "z": "26ed8a12ce112e81",
        "g": "3f1fe65c928d1b37",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "selected.buffer",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "363186c651fd7562",
        "type": "ui_template",
        "z": "26ed8a12ce112e81",
        "g": "960cb6dc51e99160",
        "group": "78eb60079705b811",
        "name": "Download link",
        "order": 4,
        "width": "10",
        "height": "1",
        "format": "<h3><a href=\"/docker\" _target=\"blank\">Download docker-compose.yaml</a></h3>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 360,
        "y": 2100,
        "wires": [
            []
        ]
    },
    {
        "id": "d72854b26c82f511",
        "type": "http in",
        "z": "26ed8a12ce112e81",
        "g": "960cb6dc51e99160",
        "name": "",
        "url": "/docker",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 350,
        "y": 2160,
        "wires": [
            [
                "f61d64384a2d9d5b"
            ]
        ]
    },
    {
        "id": "f61d64384a2d9d5b",
        "type": "template",
        "z": "26ed8a12ce112e81",
        "g": "960cb6dc51e99160",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "version: \"3.4\"\nservices:\n",
        "output": "str",
        "x": 520,
        "y": 2160,
        "wires": [
            [
                "6555ea16c270dead"
            ]
        ]
    },
    {
        "id": "8026e7e0bf67cd5d",
        "type": "http response",
        "z": "26ed8a12ce112e81",
        "g": "960cb6dc51e99160",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "text/yaml",
            "Content-Disposition": "attachment; filename=docker-compose.yaml"
        },
        "x": 1110,
        "y": 2400,
        "wires": []
    },
    {
        "id": "6555ea16c270dead",
        "type": "change",
        "z": "26ed8a12ce112e81",
        "g": "960cb6dc51e99160",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "compose",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "cameras",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 2160,
        "wires": [
            [
                "21b9d4f2525b19a7",
                "939ffd7e9e78be25"
            ]
        ]
    },
    {
        "id": "21b9d4f2525b19a7",
        "type": "split",
        "z": "26ed8a12ce112e81",
        "g": "960cb6dc51e99160",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 570,
        "y": 2220,
        "wires": [
            [
                "4771f38ee6e3fd53",
                "775313272a2c6c5a"
            ]
        ]
    },
    {
        "id": "8332450cf3330e20",
        "type": "join",
        "z": "26ed8a12ce112e81",
        "g": "960cb6dc51e99160",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 570,
        "y": 2400,
        "wires": [
            [
                "a832b605b858e3f4"
            ]
        ]
    },
    {
        "id": "9c9b1a954e8fb836",
        "type": "template",
        "z": "26ed8a12ce112e81",
        "g": "960cb6dc51e99160",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "    fmr-{{payload.fmr}}:\n        image: fmr:latest\n        container_name: fmr-{{payload.fmr}}\n        restart: always\n        environment:\n            - RECORDER_ID={{payload.fmr}}\n            - INPUT_URI=rtsp://fmr:{{payload.password}}@{{payload.address}}/axis-media/media.amp?videocodec=h264&resolution={{payload.resolution}}&audio=0&compression=50\n            - S3_ENDPOINT=http://{{payload.minio_address}}:{{payload.minio_port}}\n            - S3_ACCESS_KEY={{payload.minio_key}}\n            - S3_SECRET_KEY={{payload.minio_secret}}\n            - S3_BUCKET={{payload.fmr}}\n            - RECORDING_FILE_PREFIX={{payload.name}}\n            - MQTT_TOPIC_PREFIX=recorder\n            - MQTT_BROKER_HOST={{payload.mqtt_address}}\n            - MQTT_BROKER_PORT=1883\n            - MQTT_BROKER_USERNAME={{payload.mqtt_user}}\n            - MQTT_BROKER_PASSWORD={{payload.mqtt_password}}\n",
        "output": "str",
        "x": 860,
        "y": 2280,
        "wires": [
            [
                "6caa872a021c4207",
                "bdcbbc66525aa6ed"
            ]
        ]
    },
    {
        "id": "4771f38ee6e3fd53",
        "type": "change",
        "z": "26ed8a12ce112e81",
        "g": "960cb6dc51e99160",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.minio_address",
                "pt": "msg",
                "to": "MINIO_ADDRESS",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "payload.minio_port",
                "pt": "msg",
                "to": "MINIO_PORT",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "payload.minio_key",
                "pt": "msg",
                "to": "MINIO_KEY",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "payload.minio_secret",
                "pt": "msg",
                "to": "MINIO_SECRET",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "payload.mqtt_address",
                "pt": "msg",
                "to": "MQTT_ADDRESS",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "payload.mqtt_user",
                "pt": "msg",
                "to": "MQTT_USER",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "payload.mqtt_password",
                "pt": "msg",
                "to": "MQTT_PASSWORD",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 2280,
        "wires": [
            [
                "9c9b1a954e8fb836"
            ]
        ]
    },
    {
        "id": "6caa872a021c4207",
        "type": "function",
        "z": "26ed8a12ce112e81",
        "g": "960cb6dc51e99160",
        "name": "function 19",
        "func": "var compose = flow.get(\"compose\");\ncompose += msg.payload;\nflow.set(\"compose\",compose);\nmsg.payload = compose;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 2340,
        "wires": [
            [
                "8332450cf3330e20",
                "48cc52c270bf2922"
            ]
        ]
    },
    {
        "id": "a832b605b858e3f4",
        "type": "change",
        "z": "26ed8a12ce112e81",
        "g": "960cb6dc51e99160",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "compose",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 2400,
        "wires": [
            [
                "8026e7e0bf67cd5d"
            ]
        ]
    },
    {
        "id": "659a81100d41cf95",
        "type": "catch",
        "z": "26ed8a12ce112e81",
        "name": "",
        "scope": null,
        "uncaught": true,
        "x": 360,
        "y": 40,
        "wires": [
            [
                "1794bd058244b967"
            ]
        ]
    },
    {
        "id": "1794bd058244b967",
        "type": "debug",
        "z": "26ed8a12ce112e81",
        "name": "debug 252",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 40,
        "wires": []
    },
    {
        "id": "0223bcbde4ba566b",
        "type": "influxdb in",
        "z": "26ed8a12ce112e81",
        "g": "54ca9f41add64fe2",
        "influxdb": "ca2547b7188cdec3",
        "name": "Retention policy month",
        "query": "CREATE RETENTION POLICY \"month\" ON \"log\" DURATION 4w REPLICATION 1;",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "",
        "x": 400,
        "y": 440,
        "wires": [
            [
                "3ee94fbce8d246e9"
            ]
        ]
    },
    {
        "id": "3eb50965e15b84df",
        "type": "influxdb in",
        "z": "26ed8a12ce112e81",
        "g": "54ca9f41add64fe2",
        "influxdb": "ca2547b7188cdec3",
        "name": "Retention policy day",
        "query": "CREATE RETENTION POLICY \"day\" ON \"log\" DURATION 1d REPLICATION 1;",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "",
        "x": 390,
        "y": 360,
        "wires": [
            [
                "bd39b74ddced4dad",
                "5e96674fab6fc854"
            ]
        ]
    },
    {
        "id": "bd39b74ddced4dad",
        "type": "influxdb in",
        "z": "26ed8a12ce112e81",
        "g": "54ca9f41add64fe2",
        "influxdb": "ca2547b7188cdec3",
        "name": "Retention policy week",
        "query": "CREATE RETENTION POLICY \"week\" ON \"log\" DURATION 7d REPLICATION 1;",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "",
        "x": 390,
        "y": 400,
        "wires": [
            [
                "0223bcbde4ba566b",
                "b0b987e8ee0982af"
            ]
        ]
    },
    {
        "id": "5e96674fab6fc854",
        "type": "debug",
        "z": "26ed8a12ce112e81",
        "name": "debug 253",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 360,
        "wires": []
    },
    {
        "id": "b0b987e8ee0982af",
        "type": "debug",
        "z": "26ed8a12ce112e81",
        "name": "debug 254",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 400,
        "wires": []
    },
    {
        "id": "3ee94fbce8d246e9",
        "type": "debug",
        "z": "26ed8a12ce112e81",
        "name": "debug 255",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 440,
        "wires": []
    },
    {
        "id": "b7afe69b4331fda0",
        "type": "function",
        "z": "26ed8a12ce112e81",
        "g": "4024b3d5b06eaa70",
        "name": "Update status",
        "func": "var fmrID = msg.topic.split('/')[1];\n\nvar cameras = global.get(\"cameras\");\nvar camera = false;\nfor(var serial in cameras) {\n    if( cameras[serial].fmr === fmrID )\n        camera = cameras[serial];\n}\n\nif( !camera )\n    return;\n\ncamera.status = msg.payload.status;\nflow.set(\"cameras\",camera);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "ab3991961bd3c689",
        "type": "change",
        "z": "26ed8a12ce112e81",
        "g": "3f1fe65c928d1b37",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1100,
        "wires": [
            [
                "4617cacb43a7db1c"
            ]
        ]
    },
    {
        "id": "f7f6f2b595a4941d",
        "type": "change",
        "z": "26ed8a12ce112e81",
        "g": "3f1fe65c928d1b37",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.name",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1060,
        "wires": [
            [
                "4617cacb43a7db1c"
            ]
        ]
    },
    {
        "id": "fff6949c6b0b0cf3",
        "type": "link out",
        "z": "26ed8a12ce112e81",
        "name": "link out 40",
        "mode": "link",
        "links": [
            "ff9a15e6fd836f78"
        ],
        "x": 515,
        "y": 960,
        "wires": []
    },
    {
        "id": "ff9a15e6fd836f78",
        "type": "link in",
        "z": "26ed8a12ce112e81",
        "g": "3f1fe65c928d1b37",
        "name": "link in 1",
        "links": [
            "fff6949c6b0b0cf3"
        ],
        "x": 375,
        "y": 1100,
        "wires": [
            [
                "ab3991961bd3c689"
            ]
        ]
    },
    {
        "id": "20be60eebaf821f2",
        "type": "change",
        "z": "26ed8a12ce112e81",
        "g": "3f1fe65c928d1b37",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "4acb91d85fb1469a",
        "type": "link out",
        "z": "26ed8a12ce112e81",
        "name": "link out 39",
        "mode": "link",
        "links": [
            "31819d8665da212f"
        ],
        "x": 1525,
        "y": 1860,
        "wires": []
    },
    {
        "id": "939ffd7e9e78be25",
        "type": "debug",
        "z": "26ed8a12ce112e81",
        "name": "debug 256",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1316.88330078125,
        "y": 2153.283203125,
        "wires": []
    },
    {
        "id": "775313272a2c6c5a",
        "type": "debug",
        "z": "26ed8a12ce112e81",
        "name": "debug 245",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1310,
        "y": 2220,
        "wires": []
    },
    {
        "id": "bdcbbc66525aa6ed",
        "type": "debug",
        "z": "26ed8a12ce112e81",
        "name": "debug 246",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1310,
        "y": 2280,
        "wires": []
    },
    {
        "id": "48cc52c270bf2922",
        "type": "debug",
        "z": "26ed8a12ce112e81",
        "name": "debug 247",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1310,
        "y": 2340,
        "wires": []
    }
]